# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Flask instance folder
instance/

# Pytest cache
.pytest_cache/

# Environment variables file
.env

# Logs
*.log